* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    padding: 0px;
    margin: 0px;
    background-color: rgb(237, 234, 234);
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    height: 45px;
    justify-content: space-between;
    margin: 0 20px;
}

.flexbox p {
    color: #ef4d38;
}

.flexbox a {
    padding: 1em 0em;
    color: #57b9a2;
}

.flexbox a:hover {
    background-color: aliceblue;
    color: #ef4d38;
}

.navbar1 {
    background-color: #57b9a2;
    display: flex;
    justify-content: space-around;
    color: black;
    align-items: center;
    font-size: 15px;
    padding: 0px 50px;
}

.navbar1 p {
    color: white;
}

.navbar1 a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar1 li {
    color: white;
}

.navbar1 .dropbtn .dropdown {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    background-color: inherit;
    padding: 10px;
}

.topbtnbg {
    background-color: #ef4d38;
    border: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
}

.navbar2 {
    background-color: rgb(237, 234, 234);
    display: flex;
    justify-content: space-around;
    color: black;
    align-items: center;
    font-size: 15px;
    padding: 0px 50px;
}

.navlist {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: auto;
    gap: 15px;
}

.list-item {
    list-style: none;
}

.navbar2 a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.navbar2 a:hover {
    background-color: rgb(216, 210, 210);
    color: black;
}

.navbar2 .dropbtn .dropdown {
    font-size: 15px;
    border: none;
    outline: none;
    color: black;
    font-family: inherit;
    background-color: inherit;
    padding: 10px;
}

.dropbtn:hover .dropdown {
    background-color: rgb(208, 202, 202);
}

.content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.content a:hover {
    background-color: rgb(252, 246, 246);
}

.dropbtn:hover .content {
    display: block;
}

.searchborder {
    border: 1px solid black;
    width: 60px;
}

.button1 {
    border: 1px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 0px;
    background-color: white;
}

.bg {
    width: 50px;
    background-color: black;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    object-fit: contain;
    cursor: pointer;
}

.bgimage {
    background-image: url("/design 2 task/banner.jpg");
    width: 100%;
    height: 525px;
    background-color: rgba(0, 0, 0, 0.645);
    background-blend-mode: color;
    background-position: center;
    background-size: cover;
}

.heading {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.heading h3 {
    text-align: center;
    width: 20%;
    margin: 25px auto;
    padding: 10px 5px 10px 10px;
    background-color: #ef4d38;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

.heading img {
    margin-left: 5px;
}

.socialmedia {
    display: block;
    float: left;
    margin-top: 40px;
}

.socialmedia img {
    display: block;
    margin: 10px 0px 10px 30px;
}

.heading h2 {
    display: inline;
    font-size: 150px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 100;
}

.footer {
    background-color: white;
    height: 100px;
    width: 930px;
    margin-top: 35px;
    margin-left: 300px;
    position: relative;
    z-index: 3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footerbtnbg {
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(178, 176, 176);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: black;
}

.footer i {
    margin-left: 150px;
}

.footersearchbtn {
    background-color: #ef4d38;
    border: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    width: 170px;
    cursor: pointer;
}

.footersearchbtn img {
    margin: 0px 0px 0px 5px;
}