* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: calc(100% - 200px);
    margin: 0 auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    color: #000000;
    align-items: center;
    font-size: 15px;
    padding: 10px 100px;
}

.navbar img {
    transition: 0.5s;
}

.navbar img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    color: white;
}

.navbar li:hover {
    transform: scale(1.05);
    transition: 0.5s;
    background-color: #000000;
    transition: 0.5s;
    color: #ffffff;
    border-radius: 5px;
}

.navbar li {
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    transition: 0.5s;
}

.navlist {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto;
    gap: 15px;
}

.list-item {
    list-style: none;
}

.navbtn {
    background-color: #000000;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navbtn:hover {
    background-color: #5f1ebe;
    color: #ffffff;
    transform: scale(1.05);
    transition: 0.5s;
    border-color: transparent;
}

.bgimage {
    background-image: url("/Prateek Exam Innoraft/banner 3.png");
    width: 100%;
    height: 700px;
    background-size: cover;
}

.bgimage .heading {
    position: absolute;
    top: 300px;
    transition: 0.5s;
    width: 650px;
}

.heading:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: default;
}

.bgimage h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 5px 0px;
}

.heading2 {
    padding: 50px 0px 0px 0px;
}

.heading2 p {
    color: rgb(85, 85, 85);
}

.heading2 img {
    height: auto;
    width: 450px;
    margin-top: 25px;
    transition: 0.5s;
}

.heading2 img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.heading2 h1 {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 5px 0px;
    transition: 0.5s;
}

.heading2 h1:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: default;
}

.achievements {
    padding: 50px 0px;
}

.border {
    width: 270px;
    height: 125px;
    border: 1px solid rgb(197, 197, 197);
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 3px #afafaf;
    transition: 0.5s;
}

.border:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.border h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 10px;
    color: #5f1ebe;
    font-weight: bold;
    transition: 0.5s;
}

.border h3:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.border p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: rgb(85, 85, 85);
    transition: 0.5s;
}

.border p:hover {
    transform: scale(1.05);
    transition: 0.5s;
}