* {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}

.section {
    padding: 30px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 400;
    font-size: 60px;
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 400;
    font-size: 50px;
}

h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 400;
    font-size: 40px;
}

h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 400;
    font-size: 30px;
}

h5 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 400;
    font-size: 20px;
}

.navbar {
    background-color: #fbfaff;
    display: flex;
    justify-content: space-around;
    color: black;
    align-items: center;
    font-size: 15px;
    padding: 0px 200px;
}

.navlist {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: auto;
    gap: 15px;
}

.list-item {
    list-style: none;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.navlist a:hover {
    background-color: rgb(216, 210, 210);
    color: black;
}

.blog {
    float: left;
    overflow: hidden;
}

.blog .dropdown {
    font-size: 15px;
    border: none;
    outline: none;
    color: black;
    font-family: inherit;
    background-color: inherit;
    padding: 10px;
}

.blog:hover .dropdown {
    background-color: rgb(208, 202, 202);
}

.blog-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.blog-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.blog-content a:hover {
    background-color: rgb(252, 246, 246);
}

.blog:hover .blog-content {
    display: block;
}

.container1 {
    max-width: 750px;
    margin: 0 auto;
}

.image1 {
    background-image: linear-gradient(rgba(7, 2, 44, 0.834), rgba(7, 2, 44, 0.834)), url("/Advanced CSS Task 2/img-1.jpg");
    height: 750px;
    background-position: center;
    background-size: cover;
}

.image1 .container1 .space {
    width: 100%;
    color: white;
    text-align: center;
}

.image1 .title1 {
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
}

span {
    display: block;
}

.space p {
    padding-top: 30px;
}

.button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: 0.5s;
}

.button:hover {
    background-color: #d0a904;
}

.parent1 {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 50px;
}

.body1 {
    width: 50%;
}

.body1 ul {
    padding-top: 50px;
    padding-left: 0px;
}

.body1 li {
    padding-left: 0px;
    list-style-type: none;
    padding-top: 20px;
    align-items: center;
}

.body1 img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.img-wrapper {
    width: 50%;
}

.img-wrapper img {
    width: 100%;
    height: auto;
}

.image2 {
    background-image: linear-gradient(rgba(7, 2, 44, 0.834), rgba(7, 2, 44, 0.834)), url("/Advanced CSS Task 2/img-2.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.image2 .title2 {
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
}

.parent2 {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.marketing {
    width: 33%;
    text-align: center;
    margin-top: 40px;
}

.marketing div {
    height: 90px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.marketing img {
    height: auto;
    width: 50px;
    margin: 5px auto;
}

.parent2 h4 {
    padding-top: 20px;
}

.marketing p {
    width: 80%;
    margin-top: 10px;
    text-align: center;
    margin: 0 auto;
}

.navbar2 {
    background-color: #f5f4fa;
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 15px;
}

.navlist2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: auto;
}

.navlist2 .list-item2 {
    list-style-type: none;
}

.navbar2 a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}

.navbar2 ul {
    padding-inline-start: 0px;
}

.navlist2 a:hover {
    background-color: rgb(211, 205, 205);
    color: black;
}

.section4 {
    padding: 30px 0;
    background-color: #f5f4fa;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: calc(33.33%);
}

.column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px 20px 10px 0px;
}

.skateboard {
    height: 66%;
}

.book {
    height: 33%;
}

.image3 {
    background-image: linear-gradient(rgba(7, 2, 44, 0.834), rgba(7, 2, 44, 0.834)), url("/Advanced CSS Task 2/img-4.jpg");
    background-position: 0px -250px;
    background-size: cover;
}

.c5b1 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 25%;
    color: white;
    text-align: center;
}

.c5b1 .bg {
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 5% auto;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.c5b1 img {
    height: 50px;
    width: 50px;
    margin: 5% auto;
}

.c5b1 div:hover {
    color: #d0a904;
    cursor: pointer;
}

.section6 {
    padding: 30px 0;
    background-color: #f5f4fa;
    text-align: center;
}

.c6b1 {
    display: inline-block;
    width: calc(33% - 20px);
    margin-right: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 50px 20px;
    border-radius: 2px;
    background-color: white;
    text-align: center;
}

.button2 {
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: 0.5s;
}

.c6b1 a:hover {
    background-color: #d0a904;
    color: white;
    border: 2px solid transparent;
}

.c6b1 .blur p {
    color: rgb(209, 203, 203);
}

.image4 {
    background-image: linear-gradient(rgba(7, 2, 44, 0.834), rgba(7, 2, 44, 0.834)), url("/Advanced CSS Task 2/img-3.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
}

.c7b1 {
    padding: 50px;
    color: white;
    width: 50%;
}

.c7b12 {
    padding: 50px;
    color: white;
    width: 50%;
    text-align: right;
}

.mla {
    margin-left: 400px;
}

.bgarrow {
    background-color: #3c388e;
}

.bgarrow:hover {
    background-color: #d0a904;
}

.c7b12 img {
    height: auto;
    width: 50px;
    padding: 20px;
}

.c7b2 {
    padding: 10px 50px 50px 50px;
    color: white;
    width: 50%;
    text-align: center;
}

.c7b2 h5 {
    padding-bottom: 20px;
}

.c7b2 img {
    height: auto;
    width: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.section8 {
    padding: 30px 0;
    background-color: #f5f4fa;
}

.c8b1 {
    display: inline-block;
    width: calc(33% - 20px);
    margin-right: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 0px 0px 40px 0px;
    border-radius: 2px;
    background-color: white;
}

.c8b1 img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: auto;
    width: 100%;
}

.c8b1 .space {
    padding: 10px 40px;
}

.c8b1 a:hover {
    background-color: #d0a904;
    color: white;
    border: 2px solid transparent;
}

.section9 {
    background-color: #3a376c;
}

.c9b1 {
    padding: 20px 0px;
    margin: 0px auto 0px 0px;
    color: white;
    text-align: center;
}

.c9b1 a {
    text-align: left;
    background-color: white;
    border: 0px;
    width: 60%;
}

.c9b1 img {
    height: auto;
    width: 25px;
}

.c9b1 .bg {
    width: 50px;
    background-color: #d0a904;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    object-fit: contain;
    margin-top: 20px;
}

.button3 {
    margin-top: 20px;
    background-color: white;
    color: rgb(213, 211, 211);
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 0px;
    transition: 0.5s;
}